#usdaGeneral, #usdaSpecific, #foodProfile, #foodRecipes {
}

.api-results {
    overflow-y: auto;
    white-space: nowrap;
    max-height: 25vh;
}

header {
    padding: 5vh;
    background-color: whitesmoke;
    color: darkslategrey;
}

footer {
    padding: 10px;
    background-color: darkgray;
    color: white
}